{% extends 'dashbase.html.twig' %}
{% block nav %}

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item  ">
                <a class="nav-link" href="{{ asset('categorie') }}">
                    <i class="material-icons">person</i>
                    <p>Categories</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ asset('produit') }}">
                    <i class="material-icons">content_paste</i>
                    <p>Products</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ asset('promo') }}">
                    <i class="material-icons">library_books</i>
                    <p>Promo</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{path('show_commandes')}}">
                    <i class="material-icons">bubble_chart</i>
                    <p>Commandes</p>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:8001/event/">
                    <i class="material-icons">bubble_chart</i>
                    <p>Events</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('velo_index') }}">
                    <i class="material-icons">location_ons</i>
                    <p>Velos</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('facture_index') }}">
                    <i class="material-icons">person</i>
                    <p>Bills</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('veloR_index') }}">
                    <i class="material-icons">content_paste</i>
                    <p>Broken Bikes</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('reparateur_index') }}">
                    <i class="material-icons">library_books</i>
                    <p>Repairers</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('location_index1') }}">
                    <i class="material-icons">location_ons</i>
                    <p>location</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{  path('listeu') }}">
                    <i class="material-icons">Consulter les articles</i>
                    <p>Consulter les articles</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{  path('addu') }}">
                    <i class="material-icons">Ajouter Article</i>
                    <p>Ajouter Article</p>
                </a>
            </li>
        </ul>

    </div>
{% endblock %}

{% block content %}
    <br><br>  <h1>     EDIT EVENT</h1>
    <center>
        {{ form_start(edit_form) }}

        <h6 style="margin-top: 20px">Nom</h6>
        {{ form_widget(edit_form.nomevent) }}
        <br>
        <h6 style="margin-top: 20px">Description</h6>
        {{ form_widget(edit_form.description) }}
        <br>
        <h6 style="margin-top: 20px">Date</h6>
        {{ form_widget(edit_form.dateevent ) }}

        <br>
        <h6 style="margin-top: 20px">Place</h6>
        {{ form_widget(edit_form.lieuevent ) }}

        <br>
        <h6 style="margin-top: 20px">Capacity</h6>
        {{ form_widget(edit_form.capevent) }}

        <br>
        <h6 style="margin-top: 20px">Price</h6>
        {{ form_widget(edit_form.ticketprice) }}

        <br>
        <h6 style="margin-top: 20px">Nbr Personne</h6>
        {{ form_widget(edit_form.nbrepersonnes) }}

        <br>
        <h6 style="margin-top: 20px">Add an image</h6>
        {{ form_widget(edit_form.eventImg, {'type' : 'file', 'attr' : {'class' : 'form-control', 'placeholder' : ' '}} ) }}

        <div class="clearfix" style="margin-top: 20px"></div>
        <br>
        <input type="submit" value="Edit" />
    </center>

    {{ form_end(edit_form) }}



    <center>
        <ul>
            <li>
                <a href="{{ path('event_index') }}">Back to the list</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </center>
{% endblock %}
