{% extends 'dashbase.html.twig' %}

{% block nav %}

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item  ">
                <a class="nav-link" href="{{ asset('categorie') }}">
                    <i class="material-icons">person</i>
                    <p>Categories</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ asset('produit') }}">
                    <i class="material-icons">content_paste</i>
                    <p>Products</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ asset('promo') }}">
                    <i class="material-icons">library_books</i>
                    <p>Promo</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{path('show_commandes')}}">
                    <i class="material-icons">bubble_chart</i>
                    <p>Commandes</p>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ asset('event') }}">
                    <i class="material-icons">bubble_chart</i>
                    <p>Events</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('velo_index') }}">
                    <i class="material-icons">location_ons</i>
                    <p>Bikes</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('facture_index') }}">
                    <i class="material-icons">person</i>
                    <p>Bills</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('veloR_index') }}">
                    <i class="material-icons">content_paste</i>
                    <p>Broken Bikes</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('reparateur_index') }}">
                    <i class="material-icons">library_books</i>
                    <p>Repairers</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('location_index1') }}">
                    <i class="material-icons">location_ons</i>
                    <p>location</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{  path('listeu') }}">
                    <i class="material-icons">location_ons</i>
                    <p>Show  articles</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{  path('addu') }}">
                    <i class="material-icons">location_ons</i>
                    <p>Add Article</p>
                </a>
            </li>
        </ul>

    </div>
{% endblock %}

{% block content %}

            <div class="container" >
                <br />
                <h2 align="center"></h2><br />

                <br />
                <form>
                    <div id="result">
                    </div>

                </form>



                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-primary">
                                        <h4 class="card-title ">Categories</h4>
                                        <p class="card-category">This is your current Categories</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="text-primary">
                        <head>

                            <th>Idevent</th>
                            <th>Nomevent</th>
                            <th>Description</th>
                            <th>Lieuevent</th>
                            <th>Capevent</th>
                            <th>Ticketprice</th>
                            <th>Nbrepersonnes</th>
                            <th>Eventimg</th>
                            <th>Actions</th>

                        </head>
                        <body>

                        <td>
                            {% for e in events %}
                                <tr>
                                    <td>{{ e.idEvent }} </td>
                                    <td>{{ e.nomEvent }} </td>
                                    <td>{{ e.description }} </td>
                                    <td>{{ e.lieuEvent }}</td>
                                    <td>{{ e.capEvent }} </td>
                                    <td>{{ e.ticketPrice }} </td>
                                    <td>{{ e.nbrePersonnes }}</td>
                                    <td> <img src="{{ asset('images/' ~ e.eventImg) }}" style="width: 80px; height: 150px"> </td>
                                    <td><a href="{{  path('event_show', { 'idevent': e.idevent}) }}" style="color: #da7908"><img src="{{ asset('images/eye.png') }}" width="30" height="30"></a></td>
                                    </td>
                                </tr>
                            {% endfor %}
                        </body>
                    </table>
                                            <br><br><br>

                                            <div class="navigation text-center" style="margin-top: 20px; margin-bottom:40px ;text-align: center; margin-left: 44%">
                                                {{ knp_pagination_render(events) }}
                                            </div>


                                            <br><br><br>
                                        </div>
<center>
                                        <div class="col-lg-3 col-md-6" id="borderDemo">
                                            <div class="panel panel-red">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            <i class="fa fa-plus-square fa-5x"></i>
                                                        </div>
                                                        <div class="col-xs-9 text-right">
                                                            <div class="huge">

                                                            </div>
                                                            <div>Create New</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <a href="{{ path('event_new') }}">
                                                    <div class="panel-footer">
                                                        <span class="bgborder" data-color="#77c385"></span>
                                                        <i class="fa fa-upload fa-fw"></i>
                                                        <!--span class="pull-left"></span>
                                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span-->
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <br><br>
                                        <form method="get" >
                                            <input hidden value="TELECHARGER_PDF" name="TELECHARGER_PDF">
                                            <input value="TELECHARGER_PDF" type="submit" class="add-to-cart btn btn-default" >
                                        </form>

                                        <form method="post" class="nav-link" action="{{ path("event_participants") }}">
                                            <input type="submit" value="Participant List" >
                                        </form>
</center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>






{% endblock %}