{% extends "dashbase.html.twig" %}
{% block nav %}

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item  ">
                <a class="nav-link" href="{{ asset('categorie') }}">
                    <i class="material-icons">person</i>
                    <p>Categories</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ asset('produit') }}">
                    <i class="material-icons">content_paste</i>
                    <p>Products</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ asset('promo') }}">
                    <i class="material-icons">library_books</i>
                    <p>Promo</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{path('show_commandes')}}">
                    <i class="material-icons">bubble_chart</i>
                    <p>Commandes</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="http://127.0.0.1:8001/event/">
                    <i class="material-icons">bubble_chart</i>
                    <p>Events</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('velo_index') }}">
                    <i class="material-icons">location_ons</i>
                    <p>Velos</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('facture_index') }}">
                    <i class="material-icons">person</i>
                    <p>Bills</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('veloR_index') }}">
                    <i class="material-icons">content_paste</i>
                    <p>Broken Bikes</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('reparateur_index') }}">
                    <i class="material-icons">library_books</i>
                    <p>Repairers</p>
                </a>
            </li>
            <li class="nav-item active ">
                <a class="nav-link" href="{{ path('location_index1') }}">
                    <i class="material-icons">location_ons</i>
                    <p>location</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{  path('listeu') }}">
                    <i class="material-icons">Consulter les articles</i>
                    <p>Consulter les articles</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{  path('addu') }}">
                    <i class="material-icons">Ajouter Article</i>
                    <p>Ajouter Article</p>
                </a>
            </li>
        </ul>

    </div>
{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>

    <p class="lead"><a href="{{ path('index1') }}">Home</a></p>
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4"></h1>
            <!-- Author -->
            <!-- Preview Image -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">{{ id }}</h4>
                                    <p class="card-category"></p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary">
                                            <hr>
                                            <p class="lead">Date Debut :     {{ dateDebut|date }}</p>
                                            <p class="lead">Date Fin :       {{ DateFin|date }}</p>
                                            <p class="lead">Prix :     {{ location.prix }}</p>
                                            <p class="lead">Id User :      {{ location.user }}</p>
                                            <p class="lead">Marque Velo :      {{ location.velo.marque }}</p>




                                            </hr>
                                            </thead>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}