{% extends 'dashbase.html.twig' %}

{% block content %}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Bikes</h4>
                        <p class="card-category">The list of broken bikes</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <tr>
                                    <th>Id</th>
                                    <th>Brand</th>
                                    <th>Description</th>
                                    <th>Problem</th>
                                    <th>Age</th>
                                    <th>Return Date</th>
                                    <th>Image</th>

                                </tr>
                                </thead>

        <tbody>
        {% for veloAReparer in veloAReparers %}
            <tr>
                <td><a href="{{ path('veloR_show', { 'id': veloAReparer.id }) }}">{{ veloAReparer.id }}</a></td>
                <td>{{ veloAReparer.marque }}</td>
                <td>{{ veloAReparer.description }}</td>
                <td>{{ veloAReparer.probleme }}</td>
                <td>{{ veloAReparer.age }}</td>
                <td>{% if veloAReparer.dateR %}{{ veloAReparer.dateR|date('Y-m-d H:i:s') }}{% endif %}</td>


                <td><img src="{{ asset('uploads/images/' ~ veloAReparer.image) }}" style="height: 100px;width: 100px"></td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('veloR_show', { 'id': veloAReparer.id }) }}">Show</a>
                        </li>
                        <li>
                            <a href="{{ path('veloR_edit', { 'id': veloAReparer.id }) }}">Edit</a>

                        </li>
                        <li>
                            <a href="{{ path('veloR_affect', { 'id': veloAReparer.id }) }}">Affect</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('veloR_new') }}">Add a new broken bike</a>
        </li>
    </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
