{% extends "base.html.twig" %}
{% block content %}

    <h2>Search A Post !!</h2>
    <div class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="text" id="search" class="form-control" placeholder="Search here">
        </div>
        <!-- /input-group -->
    </div>
    <ul class="nav" id="side-menu">
        <li>
            <a href="search"> Entities<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level" id="entitiesNav">
            </ul>
        </li>
    </ul><br><br><br><br>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#search").keyup(function() {
                var minlength = 1;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNav").html('');
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('search') }}",
                        data: {
                            'q' : value
                        },
                        dataType: "text",
                        success: function(msg){
                            //we need to check if the value is the same
                            if (value===$(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if (key === 'velos') {
                                            if (id !== 'error') {
                                                console.log(value[1]);
                                                entitySelector.append('<li><b>'+value[1]+'</b><a href="showFront/'+id+'">'+'<img src="post/'+value[0]+'" style="width: 50px; height: 50px"/>'+'</a></li>');
                                            } else {
                                                entitySelector.append('<li class="errorLi">'+value+'</li>');
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>
    <div class="post-container">
        <div class="row">
            <section class="featured section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="heading">
                                <h1 class="section-title">Velos A Louer</h1>
                            </div>
                        </div>
                        {% for velo in velos %}
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                <div class="featured-box">
                                    <figure>
                                        <a href="{{ path('velo_show',{'id': velo.id}) }}"><img class="img-fluid" src="{{ asset('post/' ~ velo.image) }}" alt=""></a>
                                    </figure>
                                    <div class="content-wrapper">
                                        <div class="feature-content">
                                            <p class="listing-tagline">{{ velo.marque }}</p>
                                            <div class="meta-tag">
                                                <div class="user-name">
                                                    <a href="#"><i class="lni-user"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="listing-bottom clearfix">
                                            <div class="btn-group">
                                                <a href="{{ path('velo_showFront',{'id': velo.id}) }}"><button type="button" class="btn btn-sm btn-outline-primary">View</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
    </div>
    </div>
    <br>
    <div class="navigation text-center" style="margin-top: 20px; margin-bottom:40px ;text-align: center; margin-left: 44%">
        {{ knp_pagination_render(velos) }}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
    </div>

{% endblock %}