{% extends 'dashbase.html.twig'  %}

{% block nav %}

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active ">
                <a class="nav-link" href="{{ asset('categorie') }}">
                    <i class="material-icons">person</i>
                    <p>Categories</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ asset('produit') }}">
                    <i class="material-icons">content_paste</i>
                    <p>Products</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ asset('promo') }}">
                    <i class="material-icons">library_books</i>
                    <p>Promo</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{path('show_commandes')}}">
                    <i class="material-icons">bubble_chart</i>
                    <p>Orders</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="http://127.0.0.1:8001/event/">
                    <i class="material-icons">bubble_chart</i>
                    <p>Events</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('velo_index') }}">
                    <i class="material-icons">location_ons</i>
                    <p>Bikes</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('facture_index') }}">
                    <i class="material-icons">person</i>
                    <p>Bills</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('veloR_index') }}">
                    <i class="material-icons">content_paste</i>
                    <p>Broken Bikes</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('reparateur_index') }}">
                    <i class="material-icons">library_books</i>
                    <p>Repairers</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('location_index1') }}">
                    <i class="material-icons">location_ons</i>
                    <p>location</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{  path('listeu') }}">
                    <i class="material-icons">Consulter les articles</i>
                    <p>Consulter les articles</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{  path('addu') }}">
                    <i class="material-icons">Ajouter Article</i>
                    <p>Ajouter Article</p>
                </a>
            </li>
        </ul>

    </div>
{% endblock %}


{% block content %}
    <h1>Categorie</h1>

    <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">{{ categorie.nom }}</h4>
                                <p class="card-category">Categories id : {{ categorie.id }} </p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('uploads/images/'~ categorie.image )}}" width="200" height="200"></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('categorie_edit', { 'id': categorie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
