{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservationevent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservationevent.id }}</td>
            </tr>
            <tr>
                <th>Idevent</th>
                <td>{{ reservationevent.idEvent }}</td>
            </tr>
            <tr>
                <th>Idclient</th>
                <td>{{ reservationevent.idClient }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservationevent_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reservationevent_edit', { 'id': reservationevent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
